name: Publish to NPM

on:
    push:
        branches:
            - 'main'

permissions:
    id-token: write # Required for OIDC / NPM Trusted Publishing (https://repos.openssf.org/trusted-publishers-for-all-package-repositories)
    contents: write

jobs:
    quality-bump-and-publish:
        runs-on: ubuntu-latest
        if: ${{ !contains(github.event.head_commit.message, '[ci-skip]') }}
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
                  registry-url: 'https://registry.npmjs.org'
            - name: Update npm
              run: npm install -g npm@latest # NPM Trusted Publishing requires npm 11.5.1 or later
            - name: Configure git
              run: |
                  git config user.name "GitHub Actions Bot"
                  git config user.email "github-actions-bot@users.noreply.github.com"
            - name: Install npm dependencies
              run: npm ci
              env:
                  HUSKY: 0
            - name: Run quality checks
              run: npm run quality
            - name: Build project
              run: npm run build
            - name: Run standard-version to bump version
              run: npm run release
            - name: Push version bump to main
              uses: ad-m/github-push-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: main
                  tags: true
                  force: true
            - name: Bundle tarball
              run: npm run package
            - name: Publish to npm
              run: npm publish
